################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/Nop.Plugin.Payments.Iugu/obj/Debug
/src/Nop.Plugin.Payments.Iugu/obj/Release
